.post-row-drop-zone {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  border: 2px dashed lightblue;
  color: lightblue;
  &.post-row-drop-zone--active {
    color: lightskyblue;
    border-color: lightskyblue;
    background: lightblue;
  }
}

.post-row {
  width: 100%;
  position: relative;
}

.post-row__content {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: lightblue;
}

.post-row-column {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: stretch;
  height: 100%;
}

.post-row-column-width-dragger {
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  margin-left: -2px;
  border-left: 1px solid rgba(0, 0, 0, .5);
  border-right: 1px solid rgba(0, 0, 0, .5);
  cursor: col-resize;
  &:hover {
    background-color: red;
  }
}

.post-row-column-height-dragger {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  border-top: 1px solid rgba(0, 0, 0, .5);
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  cursor: row-resize;
  &:hover {
    background-color: red;
  }
}

.post-row-column__resource {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  img {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
